html, body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

body {
    font-family: "Lucida Console", monospace;

    background-image: url('backG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.4rem;
}

.container button {
    width:100%;
    height: 50px;
    font-size: 25px;
    background: rgb(0, 230, 172);
    border:none;
    -webkit-box-shadow: inset 0 0 5px 5px rgb(0, 77, 77);
    -moz-box-shadow: inset 0 0 5px 5px rgb(0, 77, 77);
    box-shadow: inset 0 0 5px 5px rgb(0, 77, 77);
}

.container .delete-button {
    background: rgb(255, 121, 77);
    box-shadow: inset 0 0 5px 5px rgb(128, 32, 0);
}

.login-form .update-button {
    width: 50%;
    height:10%;
    background: rgb(102, 140, 255);
    -webkit-box-shadow: inset 0 0 5px 5px rgb(0, 26, 102);
    -moz-box-shadow: inset 0 0 5px 5px rgb(0, 26, 102);
    box-shadow: inset 0 0 5px 5px rgb(0, 26, 102);
}

.container .store-button {
    width: 50%;
    height:10%;
}

.container button:hover {
    cursor: auto;
}

.container ul {
    list-style: none;
    width:100%;
    margin:0;
    padding: 0;
    overflow-y: auto;
}

.container ul li {
    width:100%;
    height:50px;
    line-height: 50px;
    padding:0;
    font-size: 1.2em;
}

.container ul li:hover {
    background: rgba(255, 255, 255, 0.8);
}

.container ul li a {
    display: block;
    width:100%;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.container ul li a:visited {
    color: black;
    text-decoration: none;
}

/* tables */

.container table {
    width:100%;
    height:100%;
    border:0;
    font-size: 2rem;
    overflow-y: auto;
}

.container table td {
    width:50%;
    background: white;
    padding:5px;
}

.container table tr {
    width:100%;
    background: white;
    padding:5px;
}

.container table tr td a {
    display: block;
    width:100%;
    height:100%;
    color: black;
    text-decoration: none;
}

.container table tr td a:visited {
    color: black;
    text-decoration: none;
}

.container table tr td a button{
    display: block;
    width:100%;
    height:100%;
    font-size: 3rem;
}

#navbar {
    margin-top: 0;
    width:100%;
    height:10%;
    background: rgba(0, 0, 0, 0.7);
    display: block;
}

#navbar ul {
    margin-top: 0;
    padding:0;
    width:100%;
    height:100%;
}

#navbar li {
    margin-top: 0;
    width:20%;
    height:100%;
    line-height: 73.44px;
    list-style: none;
    float: left;
    font-size: 1.6rem;
    color: white;
    text-align: center;
}

#navbar li a{
    display: block;
    width:100%;
    height:100%;
    text-decoration: none;
}

#navbar li a:hover{
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -ms-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
}

#navbar li a:visited {
    color: white;
}

form {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.login-form {
    width: 30%;
    margin: 7% auto 0 auto;
    padding: 2%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    color: white;
}

.login-form button {
    margin-top: 2%;
    margin-bottom: 0;

    width: 15%;
    height:25px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.login-form button:focus {
    outline:0;
}

.login-form button:hover {
    border-radius: 15px;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
}

.login-form input {
    font-size: 15px;
    border:none;
    border-radius: 5px;
    padding:3px;
}

select{
    text-align-last:center;
    direction: inherit;
}

input {
    text-align: center;
}

input:focus{
    outline:0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.form-group {
    display: block;
    margin-bottom: 10px;
    width:100%;
    padding:0;
}

.form-control {
    display: inline-block;
    width:50%;
}

#user-result {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.rented {
    color: white;
    text-decoration: underline;
}